{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "View/Components/Examples"
        ]
    },
    "logs": {
        "text": "infection.log",
        "html": "infection-report.html",
        "badge": {
            "branch": "main"
        }
    },
    "mutators": {
        "@default": true,
        "@function_signature": false,
        "global-ignoreSourceCodeByRegex": [
            ".*@codeCoverageIgnore.*"
        ]
    },
    "minMsi": 80,
    "minCoveredMsi": 90,
    "testFramework": "pest",
    "testFrameworkOptions": "--testsuite=Unit,Feature,Integration",
    "bootstrap": "vendor/autoload.php",
    "timeout": 10,
    "phpUnit": {
        "configDir": "."
    }
}
